[package]
name = "phase_space_sdk"
version = "0.1.0"
edition = "2021"

[features]
default = []

[dependencies]
serde = { version = "1.0", features = ["derive"] }
log = "0.4"
bytemuck = { version = "1.14", features = ["derive"] }
rand = "0.8"
rand_pcg = "0.3"
